<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Social Pirat / Login</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- Bootstrap 4.5 CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="../css/style.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- table styling-->
    <style> 
      table, td, th { 
       border: 1px solid #ddd; 
       text-align: left; 
      } 
      table { 
       border-collapse: collapse; 
       width: 50%; 
      } 
      .table-data{ 
       position: relative; 
       left:150px; 
       top:100px; 
      } 
      th, td { 
       padding: 15px; 
      } 
      </style>
        </head>
<body>

    <div class="container"><a href="/">
		<img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Piratey%2C_vector_version.svg" width="10%" height="10%" style="float: left;" alt="Pirate Image" />
	   </a>
	</div>	

<!-- Top Bar -->
<div class="top-bar">
    <div class="container">
        <div class="col-12 text-right">
        </div>
    </div>
</div>

<!-- End Top Bar -->


<!-- Navigation -->
<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
        <h1>SOCIAL PIRATE |</h1>
        <h1><br></h1>

        <p>En del af Coding Pirates Hørsholm<p>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/home" class="nav-link">Forside</a></li>
                <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
                <li class="nav-item"><a href="/pirates_page" class="nav-link">Pirater</a></li>
                <a href="/logout" class="btn btn-danger" role="button" aria-pressed="true">Log ud </a>
            </ul>
        </div>
    </div>
</nav>   

<div align="center" class="container">
</a>
<br><h2>Events</h2><br>

<!-- Data table window! -->
<div align="center">
      <table border="1">
          <tr>
              <th>Id</th>
              <th>Navn</th>
              <th>Dato</th>
              <th>Tid</th>
          </tr>
          
          <%
          if(events.length!=0){
          var i=1;
          events.forEach(function(data){
          %>
          <tr>
              <td><%=data.id %></td>
              <td><%=data.event_name %></td>
              <td><%=data.event_date %></td>
              <td><%=data.event_time %></td>
              <td><a href="/update_event/<%=data.id%>" class="btn btn-warning" role="button" aria-pressed="true">Opdater</a>
              <a href="/deleteEvent/<%=data.id%>" class="btn btn-danger" role="button" aria-pressed="true">Slet</a></td>
          </tr>
          <%  i++; }) %>
          <% } else{ %>
              <tr>
                  <td colspan="7">No Data Found</td>
              </tr>
          <% } %>
      </table>
      <br><a href="/createEvent" class="btn-success p-2 shadow rounded-pill">Opret Event!</a>
      </div>
</body>
</html>
